<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vera Home Monitoring</title>
	<link rel="icon" href="/vera/favicon.png">	
	<link href="/vera/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/vera/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>	
	<script type="text/javascript" src="/vera/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div class="navbar">
	  <div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </a>
		<span class="brand">
			<img src="/vera/img/leaf.png"> Vera Monitoring
		</span>
			<ul class="nav nav-collapse">
				<li><a href="/vera">Home</a></li>
				<li><a href="/vera/console">Console</a></li>
				<li><a href="/vera/graph/temperature">Températures</a></li>
				<li><a href="/vera/graph/energy">Energie</a></li>
				<li><a href="/vera/graph/hum">Humidité</a></li>
				<li><a href="/vera/admin">admin</a></li>
			</ul>
		</div>
	  </div>
	</div>
		<h1>The Admin Page</h1>
		<form>
			<fieldset>
			<legend>Vera Unit Setting</legend>
			<label>Address</label>
			<input id="input_host" type="text" placeholder="Hostname or IP">
			<label for="input_port">Port</label>
			<input id="input_port" type="text" placeholder="3480" class="input-mini">
			<fieldset>
			<button type="submit" class="btn"><i class="icon-pencil"></i> Save</button>
		</form>
		<form>
			<legend>Other Settings</legend>
		</form>

</div>
</div>
</div>
</body>
</html>